torch 
transformers 
transformers 
accelerate 
datasets 
bitsandbytes 
attacut 
langchain 
sentence-transformers 
openpyxl 
pacmap 
ragatouille 
matplotlib
langchain-community
streamlit
faiss-cpu
fastapi 
uvicorn 
streamlit 
pandas 
requests
